/**********************************************************
Sidans layout, bredd och placering
***********************************************************/

.kontainer {
    width: 960px;
    margin: 0 auto;

    /* Aktivera flexbox */
    display: flex;

    /* kontainer är lika stor som webbläsarens inre höjd */
    min-height: 100vh;

    /* Vertikalt flöde: överst header, sen main och längst ned footer */
    flex-direction: column;
}
header {
    margin-top: 30px;
}
main {
    /* Gör så att main strechas ut för att få footer sticky i botten på sidan */
    flex-grow: 1;

    /* Aktivera flexbox */
    display: flex;

    /* Horisontellt flöde: .innehall och aside brevid varandra */
    flex-direction: row;

    /* Sprid ut .innehall till vänster och aside till höger med ett mellanrum emellan */
    justify-content: space-between;
}
.innehall {
    width: 650px;
}
aside {
    width: 280px;
}
footer {
    margin-bottom: 30px;
}

/* För fönster mindre än 960px */
@media (max-width: 1000px) {
    .kontainer {
        width: auto;
        padding: 20px;
    }
    .innehall {
        width: 66%;
    }
    aside {
        width: 30%;
    }
}

/* För mindre skärmar gör innehållets layout vertikal */
@media (max-width: 650px) {

    /* Vertikalt flöde: först .innehall sen aside under */
    main {
        flex-direction: column;
    }

    /* Återställ bredderna till fri */
    header, .innehall, aside, footer {
        width: auto;
    }
}
