/**********************************************************
Sidans layout, bredd och placering
***********************************************************/

.kontainer {
    width: 960px;
    margin: 0 auto;
    display: flex;
    /* Aktivera flexbox */
    min-height: 100vh;
    /* kontainer är lika stor webbläsarens inre höjd */
    flex-direction: column;
    /* Vertikalt flöde: överst header, sen main och längst ned footer */
}
header {
    margin-top: 30px;
}
main {
    display: flex;
    /* Aktivera flexbox */
    flex-direction: row;
    /* Horisontellt flöde: .innehall och aside brevid varandra */
    justify-content: space-between;
    /* Sprid ut .innehall till vänster och aside till höger med ett mellanrum emellan */
}
.innehall {
    width: 650px;
}
aside {
    width: 280px;
}
footer {
    margin-bottom: 30px;
}

/* För fönster mindre än 960px */
@media (max-width: 1000px) {
    .kontainer {
        width: auto;
        padding: 20px;
    }
    .innehall {
        width: 66%;
    }
    aside {
        width: 30%;
    }
}

/* För mindre skärmar gör innehållets layout vertikal */
@media (max-width: 650px) {
    /* Vertikalt flöde: först .innehall sen aside under */
    main {
        flex-direction: column;
    }
    /* Återställ bredderna till fri */
    header,
    .innehall,
    aside,
    footer {
        width: auto;
    }
}
