/* css-reset */
html{
    box-sizing: border-box;
}
¨*, *:before, *:after{
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(Bilder/Bakground.jpg);
    background-attachment: fixed;
    background-repeat: repeat;

}

@media only screen and (min-width: 1000px) {



}

/* Layout */
.wrapper {
    width: 90%;
    max-width: 1000px;
    min-width: 640px;
    min-height: 200px;


    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

/* Header / Layout */
header {
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}

.logo {
    width: 25%;
    float: left;
}

.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 150px;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;

    margin-top: 25px;
}

nav.meny {

    width: 75%;
    height: 200px;
    float: right;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

.gradient {
    background-color: #e6ffff;
    background-image: linear-gradient(to top, #108fed, #e6ffff);
    background-image: -webkit-linear-gradient(to top, #108fed, #e6ffff);
}

/* -------- Länkar / Meny -------- */
nav {}

    nav ul {
        list-style-type: none;
        text-align: center;
        margin-top: 120px;
    }

    nav li {
        display: inline;
        margin-left: 10px;

    }

    nav a {
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;

        background-color: #108fed;
        color:white;
    }

    nav a:hover {
        font-size: 14px;
        background: #e6ffff;
        color: #000000;
    }

    /* Text Layout */

    h1 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: 'Indie Flower', cursive;
    }

    h2 {
        margin-left: 2.2%;
        font-size: 20px;
        font-family: 'Bubbler One', sans-serif;
    }

    p {
        margin-left: 2.2%;
        margin-right: 2.2%
        font-family: 'Indie Flower', cursive;
    }

    main mark {
        background-color: #e6ffff;
        color: deepskyblue;
        border-radius: 2px;
    }

    main a{    color: deepskyblue;
    }



    /*-------- Main Layout ---------*/

    .home {
        width: 90%;
        max-width: 1000px;
        min-width: 700px;
        min-height: 700px;
        background: #e6ffff;
        padding-bottom: 20px;


        margin: 20px auto 10px auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;

        padding-top: 5px;
    }

    main {}

        .pic {}

            .pic img {
                width: 20%;
                margin: 6%;
                display: inline-block;

            }

            .pic img:hover {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                filter: FlipH;
                -ms-filter: "FlipH";
            }

            table {
                margin-left: 2.2%;
                margin-bottom: 10px;
            }

            form {
                margin-left: 2.2%;
            }

            /*-------------------------------------------- Harajuku -----*/

            .harajuku {

            }

            .bildspel {
                width: 90%;
                max-width: 1000px;
                min-width: 640px;
                min-height: 900px;
                background: #e6ffff;

                margin-left: auto;
                margin-right: auto;
                padding: 2.2%;
                margin-top: 20px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }

            .bildspel img {
                width: 500px;
                height: 500px;
            }
            /*-------------------------------------------- Akihabar -----*/

            .akihabara {
                width: 90%;
                max-width: 1000px;
                min-width: 640px;
                min-height: 900px;
                background: #e6ffff;

                margin-left: auto;
                margin-right: auto;
                padding: 2.2%;
                margin-top: 20px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }

            .bildspel {
                width: 90%;
                max-width: 1000px;
                min-width: 640px;
                min-height: 900px;
                background: #ff98c0;

                margin-left: auto;
                margin-right: auto;
                padding: 2.2%;
                margin-top: 20px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }


        }

        .flex-container {
            display: flex;
            background: white;
            flex-wrap: wrap-reverse;
        }

        .karta {
            max-width: 300px;
            min-height: 400px;
            flex-grow: 2;
            margin: 10px
        }

        .scrolbar {
            max-width: 280px;
            min-width: 130px;
            height: 300px;
            flex-grow: 1;
            margin: 10px;
        }

        /* ----------------------------------------- Shinjuku --------*/

        .shinjuku {
            width: 90%;
            max-width: 1000px;
            min-width: 700px;
            min-height: 700px;
            background: #e6ffff;
            padding-bottom: 20px;


            margin: 20px auto 10px auto;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;

            padding: 3%;
        }

        .css3box {
            background: ;
            color: #f0ffff;
            text-align: center;
            font-size: 30px;
        }

        .css3box img {
            width: 30%;
            display: inline-flex;
            margin: 1%;

        }

        .css3box img:hover {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }

        iframe {
            display: block;
            margin: 15px auto 15px auto;

        }


        /*Footer*/

        .bottom {
            height: 50px;
        }
        .bottom footer {
            background: white;
            margin-top: 50px;


        }
        footer p {
            text-align: center;
        }
        footer a {

        }
